html {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  height: calc(100% - 6rem);
}

.textarea {
  padding: 0.75rem;
  background-color: white;
  font-family: monospace;
  border: 1px solid grey;
  flex: 1 1 50%;
}

.text-cols {
  margin-top: 1rem;
  flex-direction: row;
  display: flex;
  gap: 1rem;
  height: inherit;
}

h1 {
  margin-top: 0;
}

span.name {
  color: darkblue;
}

span.number {
  color: darkmagenta;
}

span.string {
  color: darkgreen;
}
